apex==0.1
lightly==1.4.8
matplotlib==3.7.1
numpy==1.22.2
openslide-python==1.2.0
pandas==1.5.2
Pillow==9.2.0
PyYAML==6.0
scikit-image==0.21.0
scikit-learn==1.2.0
scipy==1.10.1
shapely==2.0.1
tabulate==0.9.0
timm==0.3.2
torch==2.1.0a0+fe05266
torchvision==0.15.0a0
tqdm==4.65.0
wandb==0.15.4
